<div class="section">
    <div class="section__title">{{title}}</div>

    <div class="section__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vehicula bibendum lacus ut dignissim. Proin metus lacus, blandit vehicula turpis sagittis, blandit pellentesque augue. Aenean eget aliquet urna. Phasellus quis mauris vitae dolor finibus feugiat. Donec eleifend, enim vitae suscipit posuere, diam quam iaculis sapien, vel molestie justo elit at leo. Etiam pulvinar, libero ac dictum tempus, magna eros elementum libero, a aliquet lorem magna eu sem. In in egestas diam. Nunc rhoncus tristique turpis, vel mattis augue suscipit sit amet. Nullam scelerisque mi suscipit egestas malesuada. Donec suscipit mollis lectus, sed lacinia tortor porta sed. Etiam et velit nulla. Proin pellentesque elit accumsan, aliquet nunc vel, consectetur nulla. Maecenas vulputate sollicitudin elit, non pretium elit aliquet vitae. Suspendisse et interdum risus, nec laoreet est.
    </div>
    <img src="assets/icons/image.svg" alt="image" class="section__image">
</div>
