<footer class="footer">

    <div class="footer__rrss">
      <app-button [text]="text.linkedin_alt" [type]="'icon'" [color]="text.linkedin_color" [img]="text.linkedin_img" [link]="text.linkedin"></app-button>

      <app-button [text]="text.github_alt" [type]="'icon'" [color]="text.github_color" [img]="text.github_img" [link]="text.github"></app-button>

      <app-button [text]="text.email_alt" [type]="'icon'" [color]="text.email_color" [img]="text.email_img" [link]="text.email"></app-button>
    </div>

    <div class="footer__creators">
        <p class="creators-text p-font"> {{text.creator}} </p>

        <a target="_blank" href={{text.creator_Alba_Link}} class="p-font footer__creators-Alba btn">
            {{text.creator_Alba}}
        </a>
        <a target="_blank" href={{text.creator_Ale}} class="footer__creators-Ale btn p-font">
            {{text.creator_Ale}}
        </a>
        <a target="_blank" href={{text.creator_Alex}} class="footer__creators-Alex btn p-font">
            {{text.creator_Alex}}
        </a>
    </div>

</footer>
