@import "src/styles";

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    height: 100%;
    width: 100%;
    padding: 2rem 0 2rem 0;

    background-color: $color-principal;

    &__rrss{
        width: 30%;
        text-align: center;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem;

        @include respond(tab-port) {
            width: 60%;
        }
    
        @include respond(phone) {
            width: 80%;
        }

        &>* {
            position: relative;
            left: -2.4rem;
            width: 3rem;
            height: auto;
        }
    }

    &__creators{
        flex-flow: row wrap;
        justify-self: center;

        text-transform: uppercase;
    }
}
