<div class="info-section">
    <div class="info-section__card info-section__card-languages">
        <h1 class="info-section__card-text h1-font">Idiomas</h1>
        <ul class="info-section__card-list">
            <li class="info-section__card-list-element p-font">
                Inglés: &#9733; &#9733; &#9733; &#9733; 
            </li>
            <li class="info-section__card-list-element p-font">
                Español: &#9733; &#9733; &#9733; &#9733; &#9733;
            </li>

        </ul>
    </div>

    <div class="info-section__card info-section__card-tools">
        <h1 class="info-section__card-text h1-font">Herramientas</h1>
        <ul class="info-section__card-list">
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
            <li class="info-section__card-list-element p-font">
                Herramienta1: &#9733; &#9733; &#9733;
            </li>
    
        </ul>
    </div>
</div>