<div class="info-section" id="languages_tools">
    <div class="info-section__card info-section__card-languages">
        <h1 class="info-section__card-text h1-font">{{text.title_languages}}</h1>
        <ul class="info-section__card-list">

            <li *ngFor="let language of text.languages" class="info-section__card-list-element p-font">
                {{language.name}}:&nbsp;
                <p *ngFor="let i of [].constructor(language.stars)">&#9733;</p>
            </li>

        </ul>
    </div>

    <div class="info-section__card info-section__card-tools">
        <h1 class="info-section__card-text h1-font info-section__card-text-tools">{{text.title_tools}}</h1>
        <ul class="info-section__card-list">
            <li *ngFor="let tool of text.tools"class="info-section__card-list-element p-font">
                {{tool.name}}:&nbsp;
                <p *ngFor="let i of [].constructor(tool.stars)">&#9733;</p>
            </li>

        </ul>
    </div>
</div>
