@import "src/styles";

.info-section {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 5rem 0 5rem 0;


    // min-height: 100vh;
    // max-height: 100%;
    height: 120%;

    width: 100%;
    margin: auto;

    background-color: $color-secondary-light;

    @include respond(tab-land) {
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }

    

    &__card{
        background-color: $color-secondary-dark;
        padding: 3rem;
        margin: 1.5rem;
        
        min-width: 50rem;
        max-width: 60rem;
        
        border-radius: 1rem;
        
        @include respond(tab-port){
            width: 80%;
        }

        @include respond(tab-land){
            min-width: 0;
            width: 70%;
        }
        
        @include respond(phone){
            &-text-tools{
                font-size: 5rem !important;
            }
        }

        &-list{
            list-style: none;
            padding: 3rem;
            background-color: $color-principal;
            border-radius: 1rem;

            &-element{
                margin: 1rem;
                color: $color-text-alternative;
                display: flex;
            }
        }
    }
}
