<div class="menu">
  <ul class="menu__list">
    <li class="menu__list-element h3-font"><a href="#frontpage">{{text.frontpage}}</a></li>
    <li class="menu__list-element h3-font"><a href="#experience">{{text.experience}}</a></li>
    <li class="menu__list-element h3-font"><a href="#studies">{{text.studies}}</a></li>
    <li class="menu__list-element h3-font"><a href="#languages_tools">{{text.languages_tools}}</a></li>
    <li class="menu__list-element h3-font"><a href="#proyects">{{text.proyects}}</a></li>
    <li class="menu__list-element h3-font"><a href="#contact">{{text.contact}}</a></li>
  </ul>
</div>
