@import "src/styles";

.menu {
  position: sticky;
  top: 2.5rem;
  z-index: 1;


  &-icon {
    width: 2.5rem;
    height: auto;

    cursor: pointer;

    position: absolute;
    top: 2.5rem;
    left: 2.5rem;

    z-index: 2;
  }

  &__list {
    position: absolute;
    top: -2.5rem;
    left: -2.5rem;
    list-style-type: none;

    width: 20vw;
    height: 100vh;

    padding: 7rem 2.5rem;
    background-color: red;

    &-element {
      text-align: center;
      cursor: pointer;

      margin: 3rem;

      & > a {
        text-decoration: none;
        color: $color-text;
      }
    }

  }
}
