<div class="experience-section">
    <div class="experience-section__jobs" id="experience">
        <h1 class="experience-section__jobs-title h1-font">{{text.title_experience}}</h1>
        <div class="experience-section__jobs-content">

            <div *ngFor="let experience of text.experiences" class="experience-section__jobs-content__box" style=--color:{{experience.color}};>
                <i class="experience-section__jobs-content__box__icon icon-basic-map"></i>
                <h3 class="u-margin-bottom-small h3-font">{{experience.title}}</h3>
                <p class="u-margin-bottom-medium experience-section__jobs-content__box__text p-font">
                  {{experience.content}}
                </p>
                <p class="experience-section__jobs-content__box__date p-font">
                  {{experience.date}}
                </p>
                <div class="experience-section__jobs-content__box__button">
                  <app-button [text]="experience.more_info" [type]="'elevate'"></app-button>
                </div>
            </div>
        </div>
    </div>

    <div class="experience-section__studies" id="studies">
        <h1 class="experience-section__studies-title h1-font">{{text.title_studies}}</h1>
        <div class="experience-section__studies-content">

            <div *ngFor="let study of text.studies" class="experience-section__studies-content__box" style=--color:{{study.color}};>
                <i class="experience-section__studies-content__box__icon icon-basic-map"></i>
                <h3 class="u-margin-bottom-small h3-font">{{study.title}}</h3>
                <p class="u-margin-bottom-medium experience-section__studies-content__box__text p-font">
                  {{study.content}}
                </p>
                <p class="experience-section__studies-content__box__date p-font">
                  {{study.date}}
                </p>
                <div class="experience-section__studies-content__box__button">
                  <app-button [text]="study.more_info" [type]="'elevate'"></app-button>
                </div>
            </div>
        </div>
    </div>
</div>
