<div class="experience-section">
    <div class="experience-section__jobs">
        <h1 class="experience-section__jobs-title h1-font">Experiencia</h1>
        <div class="experience-section__jobs-content">

            <div class="experience-section__jobs-content__box">
                <i class="experience-section__jobs-content__box__icon icon-basic-map"></i>
                <h3 class="u-margin-bottom-small h3-font">Find your way</h3>
                <p class="u-margin-bottom-medium experience-section__jobs-content__box__text p-font">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
                <button class="btn btn-primary u-margin-bottom-medium">Más información &rarr;</button>
            </div>

            <div class="experience-section__jobs-content__box">
                <i class="experience-section__jobs-content__box__icon icon-basic-map"></i>
                <h3 class="u-margin-bottom-small h3-font">Find your way</h3>
                <p class="u-margin-bottom-medium experience-section__jobs-content__box__text p-font">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
                <button class="btn btn-primary u-margin-bottom-medium">Más información &rarr;</button>
            </div>

            <div class="experience-section__jobs-content__box">
                <i class="experience-section__jobs-content__box__icon icon-basic-map"></i>
                <h3 class="u-margin-bottom-small h3-font">Find your way</h3>
                <p class="u-margin-bottom-medium  experience-section__jobs-content__box__text p-font">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
                <button class="btn btn-primary u-margin-bottom-medium">Más información &rarr;</button>
            </div>

            
            

        </div>
    </div>

    <div class="experience-section__studies">
        <h1 class="experience-section__studies-title h1-font">Estudios</h1>
        <div class="experience-section__studies-content">
            <div class="experience-section__studies-content__box">
                <i class="experience-section__studies-content__box__icon icon-basic-map"></i>
                <h3 class="u-margin-bottom-small h3-font">Find your way</h3>
                <p class="u-margin-bottom-medium experience-section__studies-content__box__text p-font">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur.
                </p>
                <button class="btn btn-primary u-margin-bottom-medium">Más información &rarr;</button>
            </div>
        </div>
    </div>

</div>