@import "src/styles";

.experience-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    // height: 100vh;
    height: 100%;
    width: 100%;
    margin: auto;

    background: $color-secondary;

    &__jobs, &__studies{
        width: 90vw;
        // background-color: $color-secondary-dark;
        text-align: center;
        display: flex;
        flex-direction: column;

        @include respond(phone){
          width: 100%;
          padding: 2rem;
        }

        @media (max-width: 330px) {
          padding: 0;
        }

        
        &-content{
          text-align: justify;

          // background-color: $color-secondary-light;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: center;
          margin: auto;

            &__box{
                padding: 3rem;
                margin: 1.5rem;

                min-width: 30rem;
                max-width: 45rem;

                border-radius: .4rem;
                border-top: 4px solid var(--color);

                overflow: hidden;
                box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
                cursor: pointer;
                transition: .2s;
                background-color: $color-secondary-light;

                &:hover {
                  transform: translateY(-.5rem);
                  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
                }

                &__date {
                  margin: 2rem 1rem;
                  text-align: right;
                }

                &__button {
                  padding: 2rem 8rem 0;
                }
            }

        }
    }
}
