<div class="main_page">
  <app-menu [language]="language"></app-menu>
  <app-language-selector [current_language]="language" (change_language)="selectLanguage($event)"></app-language-selector>
  <app-frontpage [language]="language"></app-frontpage>
  <app-experience-section [language]="language"></app-experience-section>
  <app-info-section [language]="language"></app-info-section>
  <!-- <app-proyect-section [language]="language"></app-proyect-section> -->
  <app-proyect-section [language]="language"></app-proyect-section>
  <app-proyect-detail [language]="language"></app-proyect-detail>
  <!-- <app-contact-section [language]="language"></app-contact-section> -->
  <app-footer [language]="language"></app-footer>
</div>

<router-outlet></router-outlet>
