@import "src/styles";

.frontpage {

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80rem; // Revisar en función de cómo unamos las secciones y sobre todo en dispositivos móviles
    // width: 70vw;
    // width: 100vw;
    width: 100%;
    margin: auto;

	background-color: $color-principal;
    color: $color-text-alternative;

    @include respond(tab-land) {
			height: 90rem;
		}

    @include respond(tab-port) {
			height: 90rem;
		}

		@include respond(phone) {
			height: 110rem;
		}



    &__profile{
        margin: 15rem 0 3rem 0;
        height: 10rem;
        width: auto;

        filter: $filter-color-svg;
    }

    &__username{
        // font-size: 6rem;
        margin: 2rem 0 1rem 0;
        text-align: center;
    }

    &__role{
        // font-size: 3rem;
        margin-bottom: 3rem;
        text-align: center;
    }

    &__aboutme{
        width: 70vw;
        // font-size: 2rem;

        text-align:justify; // opcional
    }

		&__rrss{
			width: 30%;
			text-align: center;

			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-top: 4rem ;
			margin-bottom: 4rem;

			@include respond(tab-port) {
				width: 60%;
			}

			@include respond(phone) {
				width: 80%;
			}

			&>* {
				position: relative;
				left: -2.4rem;
				width: 3rem;
				height: auto;
			}

    }

}
