<div class="frontpage">

    <img src="" alt="profile image" class="frontpage__profile">

    <h1 class="frontpage__username">Nombre Completo</h1>
    <h2 class="frontpage__role">Ingeniería Informática</h2>
  
  
    <p class="frontpage__aboutme">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, cum nobis quibusdam soluta facere omnis, nulla ea voluptatem hic quam sint minus in maiores, veniam iure. Sapiente recusandae error quo
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo temporibus quos optio earum? Maiores aperiam nam ratione labore numquam assumenda unde, amet obcaecati temporibus, dolorem architecto debitis natus eligendi quibusdam?
    </p>
  
    <div class="frontpage__rrss">
        <a target="_blank" href="https://www.linkedin.com/" class="frontpage__rrss-linkedin">
            <img src="assets/icons/linkedin.svg" alt="linkedin" class="btn-svg">
        </a>
      
        <a target="_blank" href="https://www.github.com/" class="frontpage__rrss-github"> 
            <img src="assets/icons/github.svg" alt="github" class="btn-svg"> 
        </a>
        
        <a target="_blank" href="mailto:correo@correo.com" class="frontpage__rrss-email">
            <img src="assets/icons/email.svg" alt="email" class="btn-svg">
        </a>
    
    </div>    
  
  </div>