<div class="frontpage" id="frontpage">

    <img src="assets/icons/user.svg" alt={{text.profile_alt}} class="frontpage__profile">

    <h1 class="frontpage__username h1-font">{{text.name}}</h1>
    <h2 class="frontpage__role h2-font">{{text.role}}</h2>


    <p class="frontpage__aboutme p-font">
        {{text.about_me}}
    </p>


    <div class="frontpage__rrss">

      <app-button class="frontpage__rrss-linkedin" [text]="text.linkedin_alt" [type]="'icon'" [color]="text.linkedin_color" [img]="text.linkedin_img" [link]="text.linkedin" [move]="true"></app-button>

      <app-button class="frontpage__rrss-github" [text]="text.github_alt" [type]="'icon'" [color]="text.github_color" [img]="text.github_img" [link]="text.github" [move]="true"></app-button>

      <app-button class="frontpage__rrss-email" [text]="text.email_alt" [type]="'icon'" [color]="text.email_color" [img]="text.email_img" [link]="text.email" [move]="true"></app-button>

    </div>

  </div>
