<div class="contact-section">
    <div class="contact-section__contact-form">
        <div class="contact-section__contact-form-title">
            Contacto
        </div>
        <div class="contact-section__contact-form__inputs">
            <input type="text" class="contact-section__contact-form__inputs-name" placeholder="Tu nombre">

            <input type="email" class="contact-section__contact-form__inputs-email" placeholder="Tu correo">

            <textarea name="contacto" cols="30" rows="10">Escribe aquí tu texto</textarea>

            <input type="submit" value="Enviar" class="contact-section__contact-form__inputs-submit">

        </div>
    </div>


</div>