<div class="button" [ngClass]="{'move-up': move}" >
  <div *ngIf="type=='default'"  class="button__basic p-font">
    {{text}}
  </div>

  <div *ngIf="type=='elevate'" class="button__elevate p-font">
    {{text}}
  </div>

  <div *ngIf="type=='icon'" class="button__icon" style=--color:{{color}};>
    <div class="button__icon-tooltip">{{text}}</div>
    <a href={{link}} target="_blank">
      <span class="button__icon-span">
        <img src="{{img}}" alt={{text}}>
      </span>
    </a>
  </div>

  <div *ngIf="type=='explore'" class="button__explore p-font">
    {{text}} <span>&rarr;</span>
  </div>

  <div *ngIf="type=='close'" class="button__explore p-font">
    {{text}} 
  </div>

</div>
