<div class="button">
  <div *ngIf="type=='default'" class="button__basic p-font">
    {{text}}
  </div>

  <div *ngIf="type=='elevate'" class="button__elevate p-font move-up">
    {{text}}
  </div>

  <div *ngIf="type=='icon'" class="button__icon">
    <div class="button__icon-tooltip">{{text}}</div>
    <span class="button__icon-span">
      <img src="assets/icons/linkedin.svg" alt="test">
    </span>
  </div>

  <div *ngIf="type=='explore'" class="button__explore p-font move-up">
    {{text}} <span>&rarr;</span>
  </div>
</div>
