@import "mediaQueryManager.scss";

/* Colours */
$color-principal: #7de7f5;
$color-principal-light: #b3eef6;
$color-principal-dark: #29cfcf;
$color-secondary: #ce3a3a;
$color-secondary-light: #f17979;
$color-secondary-dark: #a13434;
$color-black: #000;
$color-white: #ffffff;
$color-text: #ffffff;
$color-text-alternative: #111;
$color-text-gray: #777;

$filter-color-svg: invert(23%) sepia(70%) saturate(901%) hue-rotate(139deg) brightness(97%) contrast(91%); // sacarlo de aquí --> https://codepen.io/sosuke/pen/Pjoqqp

$drop-shadow-btn-svg: drop-shadow(.5rem .5rem 1rem rgba(0, 0, 0, .5));

*,
*::after,
*::before{
  /* Resetea los márgenes */
  margin: 0;
  padding: 0;
  box-sizing: inherit;

	
}

html{
  font-size: 62.5%; /* default font size is 16, so with this we have 10px of default*/
  scroll-behavior: smooth;

	
	@include respond(tab-land) { // width < 1200?
			font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
	}

	  @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }

}

/* Todas las cosas se heredarán */
body{
    /* Cambia los bordes para quitar espacios raros */
    box-sizing: border-box;
    font-weight: 400;
    line-height: 1.7; /* cambia el tamaño de la línea */

    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    // margin: 2.5rem;
    // margin-bottom: 0;

    padding: 3rem;
    padding-bottom: 0;

    width: 100%;
    
    @include respond(tab-port) {
        padding: 0;
        // margin: 0;
    }

    /* font-size: 16px; */
}
/* Cambiar el color al seleccionar algo en la web */
::selection {
    background-color: $color-principal;
    color: $color-white;
}
.avoidScroll{
    overflow-x: hidden;
    // overflow-y: scroll !important;
    overflow-y: hidden !important;
}

.btn{
    position: relative;

    cursor: pointer;

    overflow: hidden;

    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;

    border: none;
    padding: 0.5rem;

    color: $color-text-alternative;
    transition: all .2s;

    &-primary{
        background-color: $color-principal;
        color: $color-text-alternative;
        border-radius: 10rem;
    }

    &:hover {
        top: -0.1rem;
        box-shadow: 0 1rem 4rem $color-secondary-light;
    }

    &-svg:hover, &-svg>img:hover{
        // transform: scale(1.05) translateY(-0.1rem);
        transform: translateY(-0.15rem);

        filter: $drop-shadow-btn-svg;
    }

    &__visible {
        display: inline-block;
        padding: 2rem 7.5rem;

        height: 100%;
        width: 100%;

        transition: all .2s;
    }

    &__invisible {
        display: inline-block;
        position: absolute;
        left: 0;
        top: -100%;
        padding: 2rem 0;

        height: 100%;
        width: 100%;

        transition: all .2s;
    }

    &:hover &__visible {
        transform: translateY(100%);
    }

    &:hover &__invisible {
        top: 0;
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

.h1-font{
    font-size: 6rem;
}
.h2-font{
    font-size: 3rem;
}
.h3-font{
    font-size: 2.5rem;
}
.p-font{
    font-size: 2rem;
}
.u-margin-bottom-large{
    margin-bottom: 3rem;
}
.u-margin-bottom-medium{
    margin-bottom: 1rem;
}
.u-margin-bottom-small{
    margin-bottom: 0.1rem;
}


